<div class="jumbotron">
    <div class="hero-section">
  
        <h1>Welcome to My Recipes App</h1>
        <h2>Discover delicious recipes and create your own culinary masterpieces</h2>
        <%= link_to "Explore Recipes", recipes_path, class: "btn btn-light" %>
        <% if !logged_in? %>
        <%= link_to "Sign Up as Chef", '/signup',  class: "btn btn-light" %>
        <% end %>
        <% if logged_in? %>
            <%= link_to "Create Recipe", new_recipe_path, class: "btn btn-light " %>
        <% end %>
    </div>
</div>
